services:
  - type: web
    name: graninha-bot-render
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: CORS_ORIGIN
        value: "*"
      - key: GRANINHA_API_URL
        value: https://painel.graninha.com.br/api/v1
